@keyframes fadeInOut {
  0%   {opacity: 0}
  25%  {opacity: 0.5}
  49%  {opacity: 1}
  100% {opacity: 1} 
}
.fadeInOut{
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-iteration-count: infinite
}

@keyframes fadeInSecond {
  55%  {opacity: 0}
  75%  {opacity: .5}
  100% {opacity: 1}
}
.fadeInSecond {
  animation-name: fadeInSecond;
  animation-duration: 3s;
  animation-iteration-count: infinite
}


@keyframes fadeOutLate {
  50%  {opacity: 1}
  55%  {opacity: 0}
  100%  {opacity: 0}
}

.fadeOutLate{
  animation-name: fadeOutLate;
  animation-duration: 3s;
  animation-iteration-count: infinite	
}