html, body, #root {
	height:100%;
}
h1 {
	font-weight:550;
	font-size:80px;
	line-height: 93px;
	margin:0;
}

h2,h3 {
	font-weight:550;
	font-size:75px;
	line-height: 93px;
	margin:0;
}

h4{
	font-weight:550;
	font-size:38px;
	line-height: 44px;
	position:relative;
	margin:0;
}


